@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: skyblue;
    font-family: 'Inter Variable', sans-serif;
}

.bg-logo {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('../images/penguin.png');
    background-size: contain;
    background-repeat: no-repeat;
}